@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

body, h5, p{
  font-size: 13px;  
  margin: 0;
  padding: 0;
}

body{
  background-color: hsl(210, 21%, 91%);
}

section{
  background-color: white;
  height: 250px;
  margin: 200px;
  width: 60%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.left img{
  flex: 1;
  height: 250px;
  width: 100%;  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;  
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-left: 30px;
}

.header  h4{
  font-family: [Manrope];
  font-weight: 700;
  font-size: 13px;
  padding-top: 10px;
  opacity: 15em;
  color: hsl(217, 19%, 35%);  
}

.middle p{
  font-family: [Manrope];
  font-weight: 500;
  font-size: 13px;
  opacity: 15rem;
  color:hsl(225, 2%, 56%); 
  padding-right: .5em;  
}

.img{
  border-radius: 10em;
  height: 30%;
  width: 20%;
}

.name{
  color: hsl(240, 1%, 32%);
  font-family: [Manrope];
  height: 35%;
}

.date{
  color: hsl(225, 2%, 56%);
}

.name-date {
  flex: 2;
  justify-content: left;
  align-items: flex-start;
  padding-left: 10px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .icon{
  height: 11px;
  width: 15px;
  background-color: rgba(231, 227, 227, 0.876);
  border-radius: 15rem;
  padding: 5px;
  margin:  10px;
}

.content{
  display: flex;  
  padding: 1em 0em;
  align-items: center;
}